<!-- FOOTER -->

<footer class="footer bg-white py-5 border-top">
  <div class="container">
    <div class="row footer-content">

      <!-- Logo, Button, Socials -->
      <div class="col-md-3 mb-4">
        <div class="logo mb-3">
          <!-- <img src="./../../assets/img/Red and gray modern Oil And Gas Logo Design Vector Template - Copy.png" alt="Logo" class="img-fluid" /> -->
        </div>

        <button class="btn text-white fw-bold px-4 py-2 mt-2 rounded-pill"
          style="background-color: #f05727; border: none;" [routerLink]="['/contact']">
          GET CONNECTION
        </button>

        <div class="social-icons footer-logo px-2  mt-3">
          <a href="#"><i class="fab fa-facebook-f me-3"></i></a>
          <a href="#"><i class="fab fa-linkedin-in me-3"></i></a>
          <a href="#"><i class="fab fa-instagram me-3"></i></a>
          <a href="#"><i class="fab fa-twitter me-3"></i></a>
          <a href="#"><i class="fab fa-youtube me-3"></i></a>
        </div>

        <p class="text-muted mt-3 small mb-0">All rights reserved © 2025</p>
      </div>

      <!-- Footer Links Section -->
      <!-- Footer Links Section -->
      <div class="col-md-9 footer-links ">
        <div class="row d-flex flex-wrap justify-content-start">

          <!-- About Us -->
          <div class="col-6 col-md-3 mb-4">
            <h6 class="fw-bold mb-3"><a class="nav-link p-0" href="#about">About Us</a></h6>
            <ul class="list-unstyled small">
              <li><a href="#">Our Brand</a></li>
              <li><a href="#">Our Marquee Investors</a></li>
              <li><a href="#">Our Presence</a></li>
              <li><a href="#">Our Vision</a></li>
              <li><a href="#">Our Mission</a></li>
              <li><a href="#">Our Values</a></li>
              <li><a href="#">Our Team</a></li>
            </ul>
          </div>

          <!-- Services -->
          <div class="col-6 col-md-3 mb-4">
            <h6 class="fw-bold mb-3"><a class="nav-link p-0" href="#service">Services</a></h6>
            <ul class="list-unstyled small">
              <li><a href="#">CNG Kit Installation</a></li>
              <li><a href="#">Endorsement Support</a></li>
              <li><a href="#">Maintenance & Servicing</a></li>
              <li><a href="#">CNG Conversion Consultation</a></li>
              <li><a href="#">CNG Cylinder Testing</a></li>
              <li><a href="#">Spare Parts & Accessories</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</footer>