.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  color: #ed4c19;
  text-decoration: underline;
}

.btn-outline-orange {
  border: 2px solid #ed4c19;
  color: #ed4c19;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-outline-orange:hover {
  background-color: #ed4c19;
  color: white;
}

.social-icons i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #ed4c19;
}

.logo img{
  height: 70px;
width: 200px;
}

/*  */
@media (max-width: 767.98px) {
  .footer-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-logo,
  .footer-links {
    width: 100% !important;
  }

  .footer-logo {
    margin-top: 2rem;
  }

  .footer-links {
    padding-bottom: 1.5rem;
  }


}
