<app-navbar></app-navbar>
  <!-- Branch Selection Buttons -->
  <div class="container my-5">
    <div *ngIf="selectedBranch">
      <div class="main_head"> <img [src]="selectedBranch.image" class="card-img-top  main-image" alt="{{ selectedBranch.name }} Image" />
        <div class="branch_head"> <h2 class="underline">{{selectedBranch.branch}}</h2>  
       <p>{{ selectedBranch. description }}</p></div>
      </div>

      <h4> <i class="bi bi-geo-alt-fill  me-2"></i>{{ selectedBranch.name }}</h4>

      <!-- Location Icon before address -->
      <p>{{ selectedBranch.address }}</p>


  </div>

  <app-footer></app-footer>